body{
  background-color: #2bb29e;

  font-family: "Montserrat";
}

h1,h4,h6{
font-family: "Montserrat-black";
}
h1{
  padding-top: 2%;
  font-size: 3rem;
}

.surveySec{
  text-align: center;
}

.surveyDiv{
    background-color: #35C9A9;
    margin: 3% 5%;
    padding: 2%;
}

.labels {
  display: inline-block;
  text-align: right;
  width: 35%;
  padding: 5px;
  vertical-align: top;
  margin-top: 1%;

}

.inputBoxes {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
  margin-top: 1%;
}

.submit{
  text-align: center;
  margin-top: 2%;
}

footer{
  text-align: center;
}
